.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1200;
  inset: 0;
  opacity: 0;
  transition: opacity var(--transition);
}
.overlay.active {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  overflow: auto;
  position: relative;
  max-width: 350px;
  max-height: calc(100vh - 24px);
  min-height: 300px;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
  background: var(--main-bg);
  border: 2px solid var(--text-color);
  transform: translate(-100%, -100%) rotate(-360deg);
  opacity: 0;
  transition: all 0.5s ease;
}
.modal.active {
  transform: translate(0) rotate(0deg);
  opacity: 1;
}

.close_btn {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  position: absolute;
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 4px 6px;
  top: 20px;
  right: 20px;
  transition: background-color var(--transition);
}
.close_btn:focus,
.close_btn:hover {
  background-color: var(--bg-color_hover);
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 565px;
    padding: 64px;
  }
}
