.form {
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 300px;
}
.edit {
  text-transform: uppercase;
}
.label {
  text-align: start;
  cursor: pointer;
}
.input {
  outline: none;
  padding: 8px;

  border: 3px solid var(--bg-color);
  border-radius: 8px;
  width: 100%;
}
.wrap {
  display: flex;
  gap: 6px;
}

@media screen and (min-width: 768px) {
  .form {
    padding: 30px;
  }
}
.error {
  font-size: 12px;
  color: var(--red-color);
}
