.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-bg);
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--text-color);
  box-shadow: var(--shadow);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: grab;
  min-height: 150px;
}

.card.dragging {
  transform: rotate(3deg) scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
