.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  padding: 6px;
  font-size: 14px;
  width: 130px;
}
.icon {
  font-size: 30px;
  color: inherit;
  transition: scale var(--transition);
}
.button:hover .icon,
.button:focus .icon {
  scale: 1.2;
}
