.buttons_wrap {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.icon {
  width: 25px;
  height: 25px;
  color: #ffff;
}
.btn {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover,
.btn:focus {
  transform: scale(1.1);
}
