.board_wrapper {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  padding: 1rem;
  min-height: 80vh;
  overflow: auto;
  scroll-behavior: smooth;
}
@media screen and (min-width: 768px) {
  .board_wrapper {
    gap: 1rem;
    justify-content: center;
  }
}
